### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Dependencies ###
node_modules

### Build folders ###
build

### Empty folders ###
mongodb/*

### Logs ###
yarn-debug.log*
yarn-error.log*

### Force to track .gitkeep files ###
!.gitkeep
